



<style>
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Category Image</th>
            <th>Edit Category</th>
            <th>Delete</th>
            <th><a href="{% url 'adminapplication:admin_home' %}" class="btn btn-warning">admin</a></th>
        </tr>
    </thead>
    <tbody>
        {% for i in categories %}
        <tr>
            <td>{{i.category_name}}</td>
            <td>
                <img src="{{i.category_image.url}}" style="height:200px;width:25%" alt="{{i.category_name}}">
            </td>
            <td>
               <a href="{% url 'adminapplication:edit_category' i.id %}">Edit Category</a>
                </td>
            <td>
               <a href="{% url 'adminapplication:delete_category' i.id %}" class="btn btn-warning">delete</a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>


